<div class="contents">

  <div class="boxA">

    <div class="box3">
      <section class="prof-card">
        <% if @kid.image.attached? %>
            <%= image_tag @kid.image ,:class => "prof-card-img" %>
        <% else %>
          <img class="prof-card-img" src="http://gahag.net/img/201602/25s/gahag-0059907781-1.jpg" alt="">
        <% end %>
        <div class="prof-card-content">
          <h1 class="prof-card-title"><%= @kid.name %></h1>
          <p class="prof-card-text"><%= @kid.description %></p>
        </div>
        <div class="prof-card-link">
          <a href="/kids/<%= @kid.id %>/edit">画像の変更</a>
        </div>
      </section>
    </div>

    <div class="box7">
      <div class="kokuban-t2">
        <span class="title-t2">
          ポイント合計
        </span>
          <%= @kid.name %>さんの合計ポイントです。
        <span class="title-t3">
          合計<%= @points %>ポイント
        </span>
      </div>
    </div>
  </div>

  <div class="boxA">

    <% @promises.each do |prom| %>
    
      <div class="box5">
        <div class="promise_card">
          <span class="card_title">約束カード</span>

          <p><%= prom.promise %></p>
         </div>
           <%= form_tag("/kids/#{@kid.id}/promises/#{prom.id}/opactions", method: :post) do %>
           <textarea class="inputbox" name="text" placeholder="コメントする" rows="1" cols="30"></textarea>
              <a class="btn-flat-simple">
                <input type="submit" value="やった", class: "fa fa-caret-right">
              </a>
           <% end %> 
           
           <% @opactions.each do |opaction| %>
              <% if opaction.promise_id == prom.id && opaction.kid_id != 0 %>
                <%= @kid.name %>「<%= opaction.comment %>」<br>
                <% break %>
              <% end %>  
           <% end %>
           
           <!-- おとうさんの最新コメント　-->
           <% @opactions.each do |opaction| %>
              <% if opaction.promise_id == prom.id && opaction.kid_id == 0 %>
                お父さん「<%= opaction.comment %>」
                <% break %>
              <% end %>  
           <% end %>

      </div>

    <% end %>

  </div>

  <div class="plus-btn-box">
    <a href="/kids/<%= @kid.id %>/promises/new" class="plus-btn-real">
      <i class="fas fa-plus"></i>
    </a>
  </div>

</div>
