<div class="boxA">
  <%= form_with model: @kid, local: true  do |form| %>
    <%= form.text_area :name, placeholder: 'なまえ', style: 'width: 100%;height: 25px;' %><br>
    <%= form.text_area :description , placeholder: '性格', style: 'width: 100%;height: 25px;' %><br>
    <%= form.file_field :image %><br>
    <a class="btn-flat-update">
      <%= form.submit "追加", class: "fa fa-caret-right" %>
    </a>
  <% end %>
</div>
