<div class="menu">
  <ul>
    <li><a>新規登録</a></li>
  </ul>
</div>

<div class="main">

  <div class="boxA">
    <div class="box7">
      <p class="colorfilter-base">
      <img src="https://images.pexels.com/photos/34014/pexels-photo.jpg" alt="" class="colorfilter-image">
      </p>
    	<p class="catch">お父さんポイントは<br>
      子供の自律を育む"心の貯金"です。</p>
    </div>
    
    <div class="box3">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      
        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
      
      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>