<div class="boxA">
  <div class="box7">
    
    <% @kids.each do |kid| %>
      <% @promises.each do |prom| %>
       <% if prom.kid_id == kid.id %>
    
        <div class="twitter__container">

          <!-- タイトル -->
          <div class="twitter__title">
           【<%= kid.name %>】
           <%= prom.promise %>
          </div>

          <!-- ▼タイムラインエリア scrollを外すと高さ固定解除 -->
          <div class="twitter__contents">
      
            <% @opactions.each do |opaction| %>
              <% if opaction.promise_id == prom.id && opaction.kid_id != 0 %>
                
                <!-- 記事エリア -->
                <div class="twitter__block">
                  <figure>
                    <img src="http://gahag.net/img/201602/25s/gahag-0059907781-1.jpg">
                  </figure>
                  <div class="twitter__block-text">
                    <div class="name"><%= kid.name %><span class="name_reply"></span></div>
                    <div class="date"><%= time_ago_in_words opaction.created_at %>前</div>
                    <div class="text">
                      <%= opaction.comment %><br>
                    </div>
                    <div class="twitter__icon">
                      <span class="twitter-bubble"></span>
                      <span class="twitter-loop"></span>
                      <% if opaction.approve == 1 %>
                        <span class="twitter-heart-p"><i class="fas fa-heart"></i></span>
                      <% else %>
                        <span class="twitter-heart-np">
                          
                        <%= form_tag("/opactions/#{opaction.id}", method: :patch) do %>
                          <i class="fas fa-heart">
                          <input type="submit" value="いいね！">
                          </i>
                        <% end %>
                        </span>
                      <% end %>
                    </div>
                  </div>
                </div>
    
              <% elsif opaction.promise_id == prom.id && opaction.kid_id == 0 %>
                
                <!-- 記事エリア -->
                <div class="twitter__block">
                  <figure>
                    <i class="fas fa-user-tie"></i>
                  </figure>
                  <div class="twitter__block-text">
                    <div class="name">おとうさん<span class="name_reply"></span></div>
                    <div class="date"><%= time_ago_in_words opaction.created_at %>前</div>
                    <div class="text">
                      <%= opaction.comment %><br>
                    </div>
                    <div class="twitter__icon">
                      <span class="twitter-bubble"></span>
                      <span class="twitter-loop"></span>
                      <span class="twitter-heart-np"></span>
                    </div>
                  </div>
                </div>
    
              <% end %>
            <% end %>

    
    
            <%= form_tag("/kids/0/promises/#{prom.id}/opactions", method: :post) do %>
            <textarea name="text" placeholder="応援して" rows="2" cols="110"></textarea>
              <a class="btn-flat-simple">
                <input type="submit" value="入力", class: "fa fa-caret-right">
              </a>
            <% end %> 

    
    
          </div>
          <!--　▲タイムラインエリア ここまで -->
        </div>
        <!--　▲twitter風ここまで -->
        
       <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="box3">
    <div class="right-box">
      <a><%= link_to "子供プロフィール設定", kids_path(current_user) %></a>
    </div>
  </div>
</div>
