<div class="header">
  <i class="fas fa-pencil-alt"></i>
  お父さんポイント
</div>

<div class="menu">
  <ul>
    <li><a>ログイン</a></li>
  </ul>
</div>


  <div class="boxA">
    <div class="box7">
      <p class="colorfilter-base">
      <img src="https://images.pexels.com/photos/34014/pexels-photo.jpg" alt="" class="colorfilter-image">
      </p>
    	<p class="catch">お父さんポイントは<br>
      子どもの自律を育む"心の貯金"です。</p>
    </div>

    <div class="box3">
      
      <div class="sign-up">
        <h1 class="sign-up-title">ログイン</h1>
          
          
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          
            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          
            <% if devise_mapping.rememberable? %>
              <div class="login_text">
                <%= f.check_box :remember_me,checked:true %>
                <%= f.label :ログイン情報を記憶 %>
              </div>
            <% end %>
          
            <div class="actions">
              <%= f.submit "ログイン" %>
            </div>
          <% end %>
          
        <div class="login_text">
          
          <%= render "devise/shared/links" %>
              
        </div>
        
      </div>  
      
    </div>
  </div>
