<div class="header">
  <i class="fas fa-pencil-alt"></i>
  お父さんポイント
</div>

<div class="menu">
  <ul>
    <li><a>ログイン</a></li>
  </ul>
</div>


  <div class="boxA">
    <div class="box7">
      <p class="colorfilter-base">
      <img src="https://images.pexels.com/photos/34014/pexels-photo.jpg" alt="" class="colorfilter-image">
      </p>
    	<p class="catch">お父さんポイントは<br>
      子どもの自律を育む"心の貯金"です。</p>
    </div>

    <div class="box3">
      
      <div class="sign-up">
        <h1 class="sign-up-title">ログイン</h1>
          
          
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          
            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          
            <% if devise_mapping.rememberable? %>
              <div class="login_text">
                <%= f.check_box :remember_me,checked:true %>
                <%= f.label :ログイン情報を記憶 %>
              </div>
            <% end %>
          
            <div class="actions">
              <%= f.submit "ログイン" %>
            </div>
          <% end %>
          
        <div class="login_text">
          
          <%= render "devise/shared/links" %>
              
        </div>
        
      </div>  
      
    </div>
  </div>

<div class="login_boxA">
  <div class="login_text">
    <h1>子どもをほめる。ただそれだけ。</h1>
  </div>
  
  <hr>
  
  <div class="login_box3">
    <div class="login_text">
      <%= image_tag 'mac.png' %>
    </div>
  </div>
  
  <div class="login_box7">
    <div class="login_text">
      <h2>お父さんポイントは、子どもの良い行動にポイントを付与するプラットフォームです。</h2>
    </div>
  </div>
  
</div>

<div class="login_boxA">
  <hr>
  <div class="login_box33">
    <div class="login_text">
      <%= image_tag 'promise_card.png' %>
      <p>① まず、子どもが自ら約束や目標を決めます</p>
    </div>
  </div>
  <div class="login_box33">
    <div class="login_text">
      <%= image_tag 'kid.png' %>
      <P>② デバイスに子どもが行動を入力します</P>
    </div>
  </div>
  <div class="login_box33">
    <div class="login_text">
      <%= image_tag 'heart.png' %>
      <p>③ お父さんはその行動に対して、1ポイントを付与します</p>
    </div>
  </div>
</div>

<div class="login_boxA">
  <hr>

  <div class="login_box7">
    <div class="login_text">
      <h2>このお父さんポイントは経済的な価値は全くありません笑</h2>
      <h2>でも、それでいいんです。</h2>
      <h2>さあ、たくさんポイントを付与して、もっとほめてあげましょう。</h2>
    </div>
  </div>

  <div class="login_box3">
    <div class="login_text">
      <%= image_tag 'iphone2.png' %>
    </div>
  </div>
  
</div>

<div class="login_boxA">
  <hr>
  <div class="login_text">
    <p>・すべて無料のサービスです。</p>
    <p>・子ども用の画面に広告は表示されません。</p>
    <p>・登録に必要なのは、家族で１つ（お父さん）のアカウントのみです。</p>
  </div>

</div>

<div class="login_text">
  
  <h1><%= render "devise/shared/links" %></h1>
      
</div>


<div class="login_boxA">
  <div class="facebook_share">
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fotosan-point.herokuapp.com%2Fusers%2Fsign_in&layout=button&size=large&width=75&height=28&appId" width="75" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>