<div class="header">
  <i class="fas fa-pencil-alt"></i>
  お父さんポイント
</div>

<div class="menu">
  <ul>
    <li><a>ログイン</a></li>
  </ul>
</div>


  <div class="boxA">
    <div class="box7">
      <p class="colorfilter-base">
      <img src="https://images.pexels.com/photos/34014/pexels-photo.jpg" alt="" class="colorfilter-image">
      </p>
    	<p class="catch">お父さんポイントは<br>
      子どもの自律を育む"心の貯金"です。</p>
    </div> 
  <!--<div align="center">
    <p class="sample-box-10">
      「お子さまの自発的な取り組みを促し、お子さまの成長を支援します。」
  </div>-->
  
  <div>
    <p class="box2">
      おとうさんポイントとは・・・<br><br>
      子どもの頑張りに対して、おとうさんがポイントを付与するサービスです。<br>
      <br>
      このサービスでは、子供がどんどん色々な事に挑戦したくなる、<br>
      ポイントをもっと貯めたいと思う仕掛をたくさん用意しています。<br>
      お父さんはその頑張りを注視し、応援してあげることで、<br>
      子どもの自発的な取り組みを後押ししてあげましょう！<br>
    </p>
  </div>
  
  <div>
    
  　<p class="comment"><おとうさんポイントの使い方></p>
    <table>
      <tr>
        <th>ステップ１</th>
        <th>ステップ２</th>　
        <th>ステップ３</th>
      </tr>
      <tr>
          <td>お子さんが『約束カード』を登録</td>
          <td>約束を実行したら、<br>「やった」ボタンをクリック！</td>
          <td>お父さんは管理画面で<br>いいね！をしてあげてください。</td>
      </tr>
        <tr>
          <td>お家の手伝いや習い事など<br>約束を設定します</td>
          <td>お父さんへのコメントも可能です！</td>
          <td>お父さんの承認でポイント付与</td>
        </tr>
    </table> 
  </div>
  
    <div class="box3">
      
      <div class="sign-up">
        <h1 class="sign-up-title">ログイン</h1>
          
          
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          
            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          
            <% if devise_mapping.rememberable? %>
              <div class="login_text">
                <%= f.check_box :remember_me,checked:true %>
                <%= f.label :ログイン情報を記憶 %>
              </div>
            <% end %>
          
            <div class="actions">
              <%= f.submit "ログイン" %>
            </div>
          <% end %>
          
        <div class="login_text">
          
          <%= render "devise/shared/links" %>
              
        </div>
        
      </div>  
      
 <div class="box28">
    <span class="box-title">おとうさんポイントが解決したい課題</span>
    <p><br><br>

「子どもを叱ってばかりだ」<br>
「本当はもっと褒めてあげたい、楽しい会話をしたいのに・・」<br>
「仕事が忙しくて、なかなか子どもとのコミュニケーションが取れない・・」<br>
<br><br>
このような悩みはありませんか？<br>
<br><br>
全国のおとうさんが少なからず、このような悩みを抱えていると思います。<br>
<br>
私たちは、「おとうさんポイント」を通じて、親子のコミュニケーションを前向きに変え、<br>
子どもの成長を支援することを目指しています。<br>　
<br>
おとうさんポイントの仕組みを考える上で、私たちが手掛かりにしたのは、<br>
人間心理学の生みの親と言われたマズローが提唱した欲求五段階説です。<br>
<br>
第一が生理的欲求、それが満たされると次に安全欲求、更に第三が社会的欲求と愛の欲求です。<br>
学校などで子供たちが情緒的な人間関係を育む中で、私たち親は子供に愛を与え続けてますので、<br>きっと満たされているはずです。<br>
そして第四が承認欲求です。<br>
私たちお父さんポイントはこの承認欲求にフォーカスしています。<br>
子供にとって最も安心できる場所である家族の中で、自分が尊重されている実感を得られる事が、<br>
健全な成長の支えの一つになるものと考えてます。<br>
<br>
</p>
  </div>
      
    </div>
  </div>
