  <div class="boxA">

    <div class="box3">
      <section class="prof-card">
        <% if @kid.image.attached? %>
            <%= image_tag @kid.image ,:class => "prof-card-img" %>
        <% else %>
          <img class="prof-card-img" src="http://gahag.net/img/201602/25s/gahag-0059907781-1.jpg" alt="">
        <% end %>
        <div class="prof-card-content">
          <h1 class="prof-card-title"><%= @kid.name %></h1>
          <p class="prof-card-text"><%= @kid.description %></p>
        </div>
        <div class="prof-card-link">
          <a href="/kids/<%= @kid.id %>/edit">画像の変更</a>
        </div>
      </section>
    </div>

    <div class="box7">

        <div class="promise_card">
          <span class="card_title">約束カード</span>

          <p><%= @promise.promise %></p>
        </div>
    
        <div class="twitter__container">

          <!-- タイトル -->
          <div class="twitter__title">
           【<%= @kid.name %>】
           <%= @promise.promise %>
          </div>

          <!-- ▼タイムラインエリア scrollを外すと高さ固定解除 -->
          <div class="twitter__contents">
      
            <% @opactions.each do |opaction| %>
              <% if opaction.promise_id == @promise.id && opaction.kid_id != 0 %>
                
                <!-- 記事エリア -->
                <div class="twitter__block">
                  <figure>

                    <% if @kid.image.attached? %>
                      <%= image_tag @kid.image ,:class => "prof-card-img" %>
                    <% else %>
                      <img class="prof-card-img" src="http://gahag.net/img/201602/25s/gahag-0059907781-1.jpg" alt="">
                    <% end %>

                  </figure>
                  <div class="twitter__block-text">
                    <div class="name"><%= @kid.name %><span class="name_reply"></span></div>
                    <div class="date"><%= time_ago_in_words opaction.created_at %>前</div>
                    <div class="text">
                      <%= opaction.comment %><br>
                    </div>
                    <div class="twitter__icon">
                      <span class="twitter-bubble"></span>
                      <span class="twitter-loop"></span>
                      <% if opaction.approve == 1 %>
                        <span class="twitter-heart-p"><i class="fas fa-heart"></i></span>
                      <% else %>
                        <span class="twitter-heart-np"><i class="fas fa-heart"></i></span>
                      <% end %>
                    </div>
                  </div>
                </div>
    
              <% elsif opaction.promise_id == @promise.id && opaction.kid_id == 0 %>
                
                <!-- 記事エリア -->
                <div class="twitter__block">
                  <figure>
                    <i class="fas fa-user-tie"></i>
                  </figure>
                  <div class="twitter__block-text">
                    <div class="name">おとうさん<span class="name_reply"></span></div>
                    <div class="date"><%= time_ago_in_words opaction.created_at %>前</div>
                    <div class="text">
                      <%= opaction.comment %><br>
                    </div>
                    <div class="twitter__icon">
                      <span class="twitter-bubble"></span>
                      <span class="twitter-loop"></span>
                      <span class="twitter-heart-np"></span>
                    </div>
                  </div>
                </div>
    
              <% end %>
            <% end %>

    
          </div>
          <!--　▲タイムラインエリア ここまで -->
        </div>
        <!--　▲twitter風ここまで -->
        <div class=page-nation>
          <a><%= paginate(@opactions) %></a>
        </div>
    </div>
    
</div>